<?xml version="1.0"?>
<!--
/**
 * MageOS
 *
 * @category   MageOS
 * @package    MageOS_AdminActivityLog
 * @copyright  Copyright (C) 2018 Kiwi Commerce Ltd (https://kiwicommerce.co.uk/)
 * @copyright  Copyright (C) 2025 MageOS (https://mage-os.org/)
 * @license    https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Repository and service interfaces -->
    <preference for="MageOS\AdminActivityLog\Api\ActivityRepositoryInterface" type="MageOS\AdminActivityLog\Model\ActivityRepository" />
    <preference for="MageOS\AdminActivityLog\Api\LoginRepositoryInterface" type="MageOS\AdminActivityLog\Model\LoginRepository" />
    <preference for="MageOS\AdminActivityLog\Api\Data\ActivitySearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="MageOS\AdminActivityLog\Api\ModelResolverInterface" type="MageOS\AdminActivityLog\Model\ModelResolver" />
    <preference for="MageOS\AdminActivityLog\Api\FieldCheckerInterface" type="MageOS\AdminActivityLog\Model\FieldChecker" />

    <!-- Data interfaces -->
    <preference for="MageOS\AdminActivityLog\Api\Data\ActivityInterface" type="MageOS\AdminActivityLog\Model\Activity" />
    <preference for="MageOS\AdminActivityLog\Api\Data\ActivityLogInterface" type="MageOS\AdminActivityLog\Model\ActivityLog" />
    <preference for="MageOS\AdminActivityLog\Api\Data\ActivityLogDetailInterface" type="MageOS\AdminActivityLog\Model\ActivityLogDetail" />
    <preference for="MageOS\AdminActivityLog\Api\Data\LoginInterface" type="MageOS\AdminActivityLog\Model\Login" />

    <!-- Configuration service -->
    <preference for="MageOS\AdminActivityLog\Api\ActivityConfigInterface" type="MageOS\AdminActivityLog\Model\Config\ActivityConfig" />

    <!-- Field tracking service -->
    <preference for="MageOS\AdminActivityLog\Api\FieldTrackerInterface" type="MageOS\AdminActivityLog\Model\Activity\FieldTracker" />

    <!-- Factory map for model resolver (security allowlist). Keys are FQCNs, values are factories.
         Only models listed here can be instantiated during activity log operations. -->
    <type name="MageOS\AdminActivityLog\Model\ModelResolver">
        <arguments>
            <argument name="modelFactories" xsi:type="array">
                <!-- Catalog -->
                <item name="Magento\Catalog\Model\Product" xsi:type="object">Magento\Catalog\Model\ProductFactory</item>
                <item name="Magento\Catalog\Model\Product\Action" xsi:type="object">Magento\Catalog\Model\Product\ActionFactory</item>
                <item name="Magento\Catalog\Model\Category" xsi:type="object">Magento\Catalog\Model\CategoryFactory</item>
                <item name="Magento\Catalog\Model\ResourceModel\Eav\Attribute" xsi:type="object">Magento\Catalog\Model\ResourceModel\Eav\AttributeFactory</item>
                <!-- Customer -->
                <item name="Magento\Customer\Model\Customer" xsi:type="object">Magento\Customer\Model\CustomerFactory</item>
                <item name="Magento\Customer\Model\Address" xsi:type="object">Magento\Customer\Model\AddressFactory</item>
                <item name="Magento\Customer\Model\Group" xsi:type="object">Magento\Customer\Model\GroupFactory</item>
                <item name="Magento\Newsletter\Model\Subscriber" xsi:type="object">Magento\Newsletter\Model\SubscriberFactory</item>
                <!-- CMS -->
                <item name="Magento\Cms\Model\Page" xsi:type="object">Magento\Cms\Model\PageFactory</item>
                <item name="Magento\Cms\Model\Block" xsi:type="object">Magento\Cms\Model\BlockFactory</item>
                <item name="Magento\Widget\Model\Widget\Instance" xsi:type="object">Magento\Widget\Model\Widget\InstanceFactory</item>
                <!-- Email -->
                <item name="Magento\Email\Model\Template" xsi:type="object">Magento\Email\Model\TemplateFactory</item>
                <item name="Magento\Newsletter\Model\Template" xsi:type="object">Magento\Newsletter\Model\TemplateFactory</item>
                <!-- Promotions -->
                <item name="Magento\CatalogRule\Model\Rule" xsi:type="object">Magento\CatalogRule\Model\RuleFactory</item>
                <item name="Magento\SalesRule\Model\Rule" xsi:type="object">Magento\SalesRule\Model\RuleFactory</item>
                <!-- Sales -->
                <item name="Magento\Sales\Model\Order\Address" xsi:type="object">Magento\Sales\Model\Order\AddressFactory</item>
                <!-- Tax -->
                <item name="Magento\Tax\Model\Calculation\Rule" xsi:type="object">Magento\Tax\Model\Calculation\RuleFactory</item>
                <item name="Magento\Tax\Model\Calculation\Rate" xsi:type="object">Magento\Tax\Model\Calculation\RateFactory</item>
                <!-- Review -->
                <item name="Magento\Review\Model\Review" xsi:type="object">Magento\Review\Model\ReviewFactory</item>
                <item name="Magento\Review\Model\Rating" xsi:type="object">Magento\Review\Model\RatingFactory</item>
                <!-- Store -->
                <item name="Magento\Store\Model\Store" xsi:type="object">Magento\Store\Model\StoreFactory</item>
                <item name="Magento\Store\Model\Website" xsi:type="object">Magento\Store\Model\WebsiteFactory</item>
                <item name="Magento\Store\Model\Group" xsi:type="object">Magento\Store\Model\GroupFactory</item>
                <!-- SEO -->
                <item name="Magento\UrlRewrite\Model\UrlRewrite" xsi:type="object">Magento\UrlRewrite\Model\UrlRewriteFactory</item>
                <item name="Magento\Search\Model\Query" xsi:type="object">Magento\Search\Model\QueryFactory</item>
                <item name="Magento\Search\Model\SynonymGroup" xsi:type="object">Magento\Search\Model\SynonymGroupFactory</item>
                <item name="Magento\Sitemap\Model\Sitemap" xsi:type="object">Magento\Sitemap\Model\SitemapFactory</item>
                <!-- EAV -->
                <item name="Magento\Eav\Model\Entity\Attribute\Set" xsi:type="object">Magento\Eav\Model\Entity\Attribute\SetFactory</item>
                <!-- Admin -->
                <item name="Magento\User\Model\User" xsi:type="object">Magento\User\Model\UserFactory</item>
                <item name="Magento\Authorization\Model\Role" xsi:type="object">Magento\Authorization\Model\RoleFactory</item>
                <!-- Integration -->
                <item name="Magento\Integration\Model\Integration" xsi:type="object">Magento\Integration\Model\IntegrationFactory</item>
                <!-- Checkout -->
                <item name="Magento\CheckoutAgreements\Model\Agreement" xsi:type="object">Magento\CheckoutAgreements\Model\AgreementFactory</item>
            </argument>
        </arguments>
    </type>

    <!-- Protected fields configuration for activity logging -->
    <type name="MageOS\AdminActivityLog\Model\FieldChecker">
        <arguments>
            <argument name="protectedFields" xsi:type="array">
                <item name="password" xsi:type="string">password</item>
                <item name="password_hash" xsi:type="string">password_hash</item>
                <item name="rp_token" xsi:type="string">rp_token</item>
                <item name="rp_token_created_at" xsi:type="string">rp_token_created_at</item>
                <item name="cc_number" xsi:type="string">cc_number</item>
                <item name="cc_number_enc" xsi:type="string">cc_number_enc</item>
                <item name="cc_cid" xsi:type="string">cc_cid</item>
                <item name="cc_cid_enc" xsi:type="string">cc_cid_enc</item>
                <item name="cc_exp_month" xsi:type="string">cc_exp_month</item>
                <item name="cc_exp_year" xsi:type="string">cc_exp_year</item>
                <item name="cc_ss_issue" xsi:type="string">cc_ss_issue</item>
                <item name="cc_ss_start_month" xsi:type="string">cc_ss_start_month</item>
                <item name="cc_ss_start_year" xsi:type="string">cc_ss_start_year</item>
                <item name="cc_owner" xsi:type="string">cc_owner</item>
                <item name="cc_type" xsi:type="string">cc_type</item>
                <item name="echeck_account_name" xsi:type="string">echeck_account_name</item>
                <item name="echeck_account_type" xsi:type="string">echeck_account_type</item>
                <item name="echeck_bank_name" xsi:type="string">echeck_bank_name</item>
                <item name="echeck_routing_number" xsi:type="string">echeck_routing_number</item>
                <item name="api_key" xsi:type="string">api_key</item>
                <item name="api_secret" xsi:type="string">api_secret</item>
                <item name="secret_key" xsi:type="string">secret_key</item>
                <item name="private_key" xsi:type="string">private_key</item>
                <item name="access_token" xsi:type="string">access_token</item>
                <item name="refresh_token" xsi:type="string">refresh_token</item>
                <item name="session_id" xsi:type="string">session_id</item>
                <item name="form_key" xsi:type="string">form_key</item>
                <item name="secret" xsi:type="string">secret</item>
            </argument>
        </arguments>
    </type>

    <!-- Type for admin_activity_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="admin_activity_listing_data_source" xsi:type="string">MageOS\AdminActivityLog\Model\ResourceModel\Grid\Activity\Collection</item>
                <item name="login_activity_listing_data_source" xsi:type="string">MageOS\AdminActivityLog\Model\ResourceModel\Grid\Login\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MageOS\AdminActivityLog\Model\ResourceModel\Grid\Activity\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">admin_activity</argument>
            <argument name="resourceModel" xsi:type="string">MageOS\AdminActivityLog\Model\ResourceModel\Activity</argument>
        </arguments>
    </virtualType>

    <virtualType name="MageOS\AdminActivityLog\Model\ResourceModel\Grid\Login\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">admin_login_log</argument>
            <argument name="resourceModel" xsi:type="string">MageOS\AdminActivityLog\Model\ResourceModel\Login</argument>
        </arguments>
    </virtualType>

    <virtualType name="AAConfigReader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">MageOS\AdminActivityLog\Model\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">MageOS\AdminActivityLog\Model\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">adminactivity.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/modules/module" xsi:type="string">name</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="MageOS\AdminActivityLog\Model\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">AAConfigReader</argument>
            <argument name="cacheId" xsi:type="string">MageOS_admin_activity_cache</argument>
        </arguments>
    </type>
</config>
